<li>
	{{name}}

	<button class="devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Yum!{{else}}Lets eat!!{{/if}}
	</button>

	<button class="devour-burger" data-id="{{this.id}}">DEVOUR!</button>
</li>
